[Desktop Entry]
Name=Smaragd
Name[ast]=Smaragd
Name[bg]=Смарагд
Name[bs]=Smaragd
Name[ca]=Smaragd
Name[ca@valencia]=Smaragd
Name[cs]=Smaragd
Name[de]=Smaragd
Name[en_GB]=Smaragd
Name[es]=Smaragd
Name[et]=Smaragd
Name[fi]=Smaragd
Name[fr]=Smaragd
Name[ga]=Smaragd
Name[gl]=Smaragd
Name[hu]=Smaragd
Name[it]=Smaragd
Name[ko]=Smaragd
Name[lt]=Smaragdas
Name[mr]=स्मराग्द
Name[nds]=Smaragd
Name[nl]=Smaragd
Name[pl]=Smaragd
Name[pt]=Smaragd
Name[pt_BR]=Smaragd
Name[ro]=Smaragd
Name[ru]=Smaragd
Name[sk]=Smaragd
Name[sv]=Smaragd
Name[tr]=Smaragd
Name[uk]=Smaragd
Name[x-test]=xxSmaragdxx
Name[zh_CN]=Smaragd
Name[zh_TW]=Smaragd
X-KDE-Library=kwin3_smaragd
