[Desktop Entry]
Name=Smaragd
Name[en_GB]=Smaragd
Name[es]=Smaragd
Name[et]=Smaragd
Name[pt]=Smaragd
Name[pt_BR]=Smaragd
Name[sv]=Smaragd
Name[uk]=Smaragd
Name[x-test]=xxSmaragdxx
X-KDE-Library=kwin3_smaragd
