[Desktop Entry]
Name=Smaragd
Name[en_GB]=Smaragd
Name[es]=Smaragd
Name[et]=Smaragd
Name[ga]=Smaragd
Name[hu]=Smaragd
Name[it]=Smaragd
Name[nds]=Smaragd
Name[nl]=Smaragd
Name[pt]=Smaragd
Name[pt_BR]=Smaragd
Name[ru]=Smaragd
Name[sv]=Smaragd
Name[tr]=Smaragd
Name[uk]=Smaragd
Name[x-test]=xxSmaragdxx
Name[zh_TW]=Smaragd
X-KDE-Library=kwin3_smaragd
